
* {
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 100%; 
    padding: 50px 0 100px;
}

#MainContent {
    display: flex; 
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    gap: 20px;
}

.page-width {
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto; 
    
    
    padding: 0 5rem;

    @media screen and ( max-width: 900px ) {
        padding: 0 1.5rem;
    }
}

.button-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    flex-flow: row wrap;
    gap: 20px;
}

button, .button {
    width: fit-content;
    cursor: pointer;
    appearance: none; 
    padding: 10px 15px;
    border-radius: 6px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #0a0a0a;
    border: none; 
    outline: none;
}